@import url('http://fonts.cdnfonts.com/css/santana');

body {
  margin: 0;
  font-family: 'Santana', sans-serif;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Santana-RegularCondensed', sans-serif;
}
